*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px ;
}
.logo {
    background-image:url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;

}

/** box2**/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left : 15px; 
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/** box3**/
.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: center;

}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    font-size: 2rem;
    width:40px;
    justify-content: center;
    align-items: center;
    color: black;
    background-color:rgb(255, 183, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
   
}
.acc-list{
    color: #f3f3f3;
    background-color: #0f1111;
    border: none;
    font-size: 20px;
}
.Returns{
    font-size: 15px;
}
.Orders{
    font-size: 20px;
}
.carts{
    display: flex;
    font-size: 18px;
}
.menu{
    display: flex;
    gap: 1.5rem;
    color: white;
    background-color: #0f1111ea;
    height: 30px;
    align-items: center;
}
/* part 2 starts**/
.part2{
    background-image: url("part2.jpg");
    background-size: cover;
    height: 360px;
    
}
.arrowleft{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: rotate(180deg);
    font-weight: 800;
}
.arrowright{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%; 
    right: 10px;
    /* transform: translateY(-50%); */

}
.line{
    background-color: white;
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100%;
}
/* Hero sec2 */
.hero , .hero2{
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    
    justify-content: space-evenly;
    padding-top: 20px;
    margin-top: 0; 
    background-color:#e2e7e6;
    position: relative;

}
.item{
    width: 23%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.item1{
    background-image: url("box1_image.jpg");
}
.item2{
    background-image: url("box2_image.jpg");
}
.item3{
    background-image: url("box3_image.jpg");
}
.item4{
    background-image: url("box4_image.jpg");
}
.hero h3{
    margin: 5px;
    position: absolute;
    top:0;
    /* row-gap: 8px; */

}
.hero2 h3{
    margin: 5px;
    position: absolute;
    top:0;
    /* row-gap: 8px; */
}
.item5{
    background-image: url("box5_image.jpg");
}
.item6{
    background-image: url("box6_image.jpg");
}
.item7{
    background-image: url("box7_image.jpg");
}
.item8{
    background-image: url("box8_image.jpg");
}
.hero2 p{
    font-weight: 800;
    position: absolute;
    top:0;
    row-gap: 8px;
    margin-top: 5px;
}
footer{
    margin-top: 15px;
}
.footpanel1{
    color: white;
    background-color: #374758;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.footpanel2{
    background-color: #222f3c;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;

   
}
.list p{
    font-size: 1.5rem;
    margin: 10px;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    height: 25px;
    margin-top: 20px;
    font-size: 0.85rem;
}
.logo2 img{
    
    background-size: cover; 
    height:100px;
    width: 100px;
   

}
.logo2{
    background-color: #222f3c;
    display: flex;
    border-top: 0.5px solid white;
    justify-content: center;
    align-items: center;
}